<div class="card">
  <div class="card-header text-right">
    <button type="button" (click)="showModal()" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-hover bg-white">
      <thead class="bg-info">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Unit</th>
          <th>Price</th>
          <th style="width:70px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of products">
          <td>{{row.code}}</td>
          <td>{{row.name}}</td>
          <td>{{row.unit}}</td>
          <td>{{row.price}}</td>
          <td>
            <a href="#" (click)="showModal($event, row.id)"><i class="fa fa-edit"></i></a>
            <a href="#" (click)="confirmDelete($event, row.id)"><i class="fa fa-trash-o text-danger"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Product</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Product code</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="product.code" placeholder="code">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Product name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="product.name" placeholder="Product name">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Unit</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="product.unit" placeholder="unit">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Price</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="product.price" placeholder="price">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="save()" class="btn btn-success">Save</button>
      </div>
    </div>
</div>
